@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image {
    background-image: url("./assets/img/hpimg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    height: 100vh; /* Adjust based on your needs */
  }

  .imperial-script-regular {
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;
  }